$background: hsl(0, 0%, 14%);
$background-light: hsl(0, 0%, 23%);
$background-lighter: hsl(0, 0%, 30%);
$text: hsl(0, 0%, 100%);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $background;
  color: $text;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input,
button,
select {
  padding: 0.5rem;
  border: none;
  background-color: $background-light;
  color: $text;
}

input[type='color'] {
  padding: 0;
}

button {
  cursor: pointer;
}

button:hover,
input:focus,
select:focus {
  background-color: $background-lighter;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.split2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > * {
    flex: 1;
  }
}

.viewer {
  width: 100%;

  .grid {
    display: grid;
    margin: 0 auto;
    width: min-content;
    height: 100%;

    grid-template-columns: repeat(8, 1fr);

    .light {
      width: 4rem;
      height: 4rem;
      border: 2px solid black;

      user-drag: none;
      user-select: none;

      &.selected {
        border: 2px solid yellow;
      }
    }
  }
}

.editor {
  margin: 0 auto;
  padding: 1rem 0;
  width: 90vw;

  .controls {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .hstack {
      margin: 0.5rem 0;
    }

    .hstack > * {
      margin: 0 0.5rem;
    }
  }

  table {
    width: 100%;
    border: 1px solid #cccccc;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    tr {
      &.selected {
        background-color: #5c5c5c;
      }
    }

    th {
      padding: 0.5rem 0;
    }

    input,
    button,
    select {
      width: calc(100% - 1rem);
    }

    td {
      padding: 0.5rem;
      border: 1px solid #cccccc;

      &.index {
        width: 2rem;
      }
      button {
        width: calc(100%);
      }
    }
  }
}